<div class="research-template-list-active-card">
    <div class="research-template-list-active-card-content">
        <div class="research-template-list-active-card-header">
            {% include "status-tags/_active.html.twig" %}
            <img class="research-template-list-active-card-options" id="research-template-list-active-card-options" src="{{ asset('build/images/icons/option-dots.png') }}">
        </div>
        <p class="research-template-list-active-card-title">{{ researchTemplate.name }}</p>
        <p class="research-template-list-active-card-description">{{ researchTemplate.description }}</p>
        <div class="research-template-list-active-card-caoch">
            <img class="research-template-list-active-card-coach-icon" src="{{ asset('build/images/icons/john-doe.png') }}">
            <div class="research-template-list-active-card-coach-part">
                <p class="research-template-list-active-card-coach-name">{{ researchTemplate.coach }}</p>
                <p class="research-template-list-active-card-coach-description">will recieve these requests</p>
            </div>
        </div>
        <button class="research-template-list-active-card-link-button">
            <img class="research-template-list-active-card-add-icon" src="{{ asset('build/images/icons/Path.png') }}">
            Use this template
        </button>
    </div>
</div>