<div class="research-request-content-container">

	{% set answerRequests = researchRequest.answerRequests %}
	{% for answerRequest in answerRequests %}

		{# section #}
		{% if answerRequest.name is same as 'section' %}
			<div class="section">
				<h3>{{ answerRequest.question }}</h3>
			</div>
		{% endif %}

		{# single-choice #}
		{% if answerRequest.name is same as 'single-choice' %}
			<div class="single-choice">
				<h3>{{ answerRequest.question }}</h3>
				<p>{{ answerRequest.answer }}</p>
			</div>
		{% endif %}

		{# open-question #}
		{% if answerRequest.name is same as 'open-question' %}
			<div class="open-question">
				<h3>{{ answerRequest.question }}</h3>
				<p>{{ answerRequest.answer }}</p>
			</div>
		{% endif %}

		{# date-picker #}
		{% if answerRequest.name is same as 'date-picker' %}
			<div class="date-picker">
				<h3>{{ answerRequest.question }}</h3>
				<p>{{ answerRequest.answer }}</p>
			</div>
		{% endif %}

		{# external-link #}
		{% if answerRequest.name is same as 'external-link' %}
			<div class="external-link">
				<h3>{{ answerRequest.question }}</h3>
				<div class="external-link-container">
					<svg width="14" height="14" viewbox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M8.74984 2.625C8.74984 1.24429 9.79451 0.125 11.0832 0.125C12.3718 0.125 13.4165 1.24429 13.4165 2.625C13.4165 4.00571 12.3718 5.125 11.0832 5.125C10.2867 5.125 9.58339 4.69741 9.16238 4.04479L5.11451 6.15896C5.20212 6.42178 5.24984 6.70492 5.24984 7C5.24984 7.27469 5.20848 7.53904 5.13209 7.78628L9.15676 9.96396C9.57712 9.30642 10.2831 8.875 11.0832 8.875C12.3718 8.875 13.4165 9.99429 13.4165 11.375C13.4165 12.7557 12.3718 13.875 11.0832 13.875C9.79451 13.875 8.74984 12.7557 8.74984 11.375C8.74984 11.2989 8.75301 11.2236 8.75923 11.1492L4.49448 8.84164C4.07909 9.25044 3.52499 9.5 2.9165 9.5C1.62784 9.5 0.583168 8.38071 0.583168 7C0.583168 5.61929 1.62784 4.5 2.9165 4.5C3.50344 4.5 4.03976 4.73219 4.44981 5.11551L8.76038 2.86414C8.7534 2.78543 8.74984 2.70566 8.74984 2.625ZM12.2498 2.625C12.2498 1.93465 11.7275 1.375 11.0832 1.375C10.4388 1.375 9.9165 1.93465 9.9165 2.625C9.9165 3.31536 10.4388 3.875 11.0832 3.875C11.7275 3.875 12.2498 3.31536 12.2498 2.625ZM12.2498 11.375C12.2498 10.6846 11.7275 10.125 11.0832 10.125C10.4388 10.125 9.9165 10.6846 9.9165 11.375C9.9165 12.0654 10.4388 12.625 11.0832 12.625C11.7275 12.625 12.2498 12.0654 12.2498 11.375ZM2.9165 5.75C3.56083 5.75 4.08317 6.30964 4.08317 7C4.08317 7.69035 3.56083 8.25 2.9165 8.25C2.27217 8.25 1.74983 7.69035 1.74983 7C1.74983 6.30964 2.27217 5.75 2.9165 5.75Z" fill="#44444F"/>
					</svg>
					<p>
						<a href="{{ answerRequest.answer }}">{{ answerRequest.answer }}</a>
					</p>
				</div>
			</div>
		{% endif %}

		{# separator #}
		{% if answerRequest.name is same as 'separator' %}
			<div class="separator"></div>
		{% endif %}

		{# multiple-choice #}
		{% if answerRequest.name is same as 'multiple-choice' and answerRequest.answer is not same as 'No answer' %}
			<div class="multiple-choice">
				<h3>{{ answerRequest.question }}</h3>
				<p>{{ answerRequest.answer }}</p>
			</div>
		{% endif %}

		{# evaluation-scale #}
		{% if answerRequest.name is same as 'evaluation-scale' %}
			<div class="evaluation-scale">
				<h3>{{ answerRequest.question }}</h3>
				<p>{{ answerRequest.answer }}</p>
			</div>
		{% endif %}

	{% endfor %}

</div>
