{# Waiting list #}
{% if researchRequest.status is same as 'Waiting list' %}
	<div class="research-plan-information-container">

		<div>
			<p class="research-plan-information">🎉 A research plan is available for this request!</p>
			<p class="research-plan-information-detail">[Name of coach to be added here] has sumbitted a new research plan, you can now view the recommandation for your user research.</p>
		</div>

		<div>
			<button id="button-open-research-plan"><img src="{{ asset('build/images/icons/Path.png') }}">
				Open research plan</button>
		</div>

	</div>
{% endif %}

{# Dropped #}
{% if researchRequest.status is same as 'Dropped' %}
	<div class="research-plan-information-container">

		<div>
			<p class="research-plan-information">🎉 A research plan is available for this request!</p>
			<p class="research-plan-information-detail">[Name of coach to be added here] has sumbitted a new research plan, you can now view the recommandation for your user research.</p>
		</div>

		<div>
			<button id="button-open-research-plan"><img src="{{ asset('build/images/icons/Path.png') }}">
				Open research plan</button>
		</div>

	</div>
{% endif %}

{# Solved #}
{% if researchRequest.status is same as 'Solved' %}
	<div class="research-plan-information-container">

		<div>
			<p class="research-plan-information">🎉 A research plan is available for this request!</p>
			<p class="research-plan-information-detail">[Name of coach to be added here] has sumbitted a new research plan, you can now view the recommandation for your user research.</p>
		</div>

		<div>
			<button id="button-open-research-plan"><img src="{{ asset('build/images/icons/Path.png') }}">
				Open research plan</button>
		</div>

	</div>
{% endif %}

{# Under review #}
{% if researchRequest.status is same as 'Under review' %}
	<div class="research-plan-information-container">

		<div>
			<p class="research-plan-information">🎉 A research plan is available for this request!</p>
			<p class="research-plan-information-detail">[Name of coach to be added here] has sumbitted a new research plan, you can now view the recommandation for your user research.</p>
		</div>

		<div>
			<button id="button-open-research-plan"><img src="{{ asset('build/images/icons/Path.png') }}">
				Open research plan</button>
		</div>

	</div>
{% endif %}

{# Draft #}
{% if researchRequest.status is same as 'Draft' %}
	<div class="research-plan-information-container">

		<div>
			<p class="research-plan-information">🎉 A research plan is available for this request!</p>
			<p class="research-plan-information-detail">[Name of coach to be added here] has sumbitted a new research plan, you can now view the recommandation for your user research.</p>
		</div>

		<div>
			<button id="button-open-research-plan"><img src="{{ asset('build/images/icons/Path.png') }}">
				Open research plan</button>
		</div>

	</div>
{% endif %}
