{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="page-content">
        {% include "home/modals/_modal_available_templates.html.twig" %}
        <header class="header">
            <div class="header-title">
                <p>RESEARCH CENTER/PLANS</p>
                <p>No requests submitted by your team</p>
            </div>
            <a href="{{ path("research_template_index")}}"><button type="submit" class="view-session">View requests templates</button></a>
        </header>
        <div class="search-engine">
            <p>Find a request in the list</p>
            <div class="search-label">
                <p>Elements to display</p>
                <p>Project</p>
                <p>Owner</p>
                <p>Assigned coach</p>
                <p>Creation date</p>
            </div>
            <form method="post">
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="reasearch-plans" id="reasearch-plans">
                        <label for="reasearch-plans">reasearch-plans</label>
                    </div>
                    <div>
                        <input type="checkbox" name="reasearch-requests" id="reasearch-requests" checked>
                        <label for="reasearch-requests">reasearch-requests</label>
                    </div>
                </div>
                <select name="Project" id="Project">
                    <option value="">Select a project</option>
                </select>
                
                <select name="Owner" id="Owner">
                    <option value="">Select an owner</option>
                </select>

                <select name="Assigned-coach" id="Assigned-coach">
                    <option value="">Select an owner</option>
                </select>

                <input type="date" name="Creation-date" id="Creation-date">
            </form>
        </div>
        <div class="research-list">
            <div class="requests-list" id="requests-list">
                <div class="requests-header">
                    <div>
                        <p>Research requests</p>
                        <p>You can view here all the research requests submitted</p>
                    </div>
                    <button id="create-request"><img src="{{ asset('build/images/icons/Path.png') }}"> Create a research request</button>
                </div>
                <table>
                    <thead class="sort-by">
                        <tr>
                            <td class="sort" id="requests-type">TYPE AND DATE</td>
                        </tr>
                        <tr class="sort-choice">
                            <td class="sort" id="requests-project">PROJECT</td>
                            <td class="sort" id="requests-coach-assigned">COACH ASSIGNED</td>
                            <td class="sort" id="requests-owner">OWNER</td>
                            <td class="sort" id="status">STATUS</td>
                            <td class="sort"></td>
                        </tr>
                    </thead>
                    <div class="view-request-table">
                        {% for researchRequest in researchRequests %}
                            <tbody class="result">
                                <tr>
                                    <td class="view-details view-request-type" id="view-request-type">
                                        <img class="template-icon" src="{{ asset('build/' ~ researchRequest.researchTemplate.icon ~ '')}}">
                                        <div class="view-request-type-content">
                                        <p class="requestType">User interview</p>
                                        <p>{{ researchRequest.creationDate|format_datetime('short', 'none', locale='fr')}}</p>
                                        </div>

                                    </td>
                                </tr>

                                <tr class="sort-choice">
                                    <td class="view-details view-requests">{{ researchRequest.project }}</td>
                                    <td class="view-details view-requests"><img class="coach-picture" src="https://i.pravatar.cc">{{ researchRequest.researchTemplate.coach }}</td>
                                    <td class="view-details"><img class="owner-picture" src="https://i.pravatar.cc">{{ researchRequest.owner }}</td>
                                    <td class="view-details">
                                        {% include "home/_research_request_status.html.twig" %}
                                    </td>
                                    <td class="view-details">                                      
                                        {% include "home/_view_request_details_button.html.twig" %}
                                    </td>
                                    <td class="icon-see-more">
                                        <img src="{{ asset('build/images/icons/ic_More.png')}}">
                                    </td>
                                </tr>
                            </tbody>
                            
                        {% if researchRequest is empty %}
                            <tbody class="result">
                                <tr>
                                    <td class="view-details" id="view-request-type">No request available</td>
                                </tr>
                                <tr class="sort-choice">
                                    <td class="view-details" id="view-requests-project">No project</td>
                                    <td class="view-details" id="view-request-coach-assigned">No coach assigned</td>
                                    <td class="view-details">No owner assigned</td>
                                    <td class="view-details">No status available</td>
                                    <td class="view-details"><button class="request-details-button">View</button></td>
                                </tr>
                            </tbody>
                            {% endif %}
                        {% endfor %}
                    </div>
                </table>
            </div>
            <div class="plans-list-none" id="plans-list-none">
                <div class="plans-header">
                    <div>
                        <p>Research plans</p>
                        <p>You can view here all the research plans created</p>
                    </div>
                    <button id="create-plans"><img src="{{ asset('build/images/icons/Path.png') }}"> Create a research plan</button>
                </div>
                <table>
                    <thead class="sort-by">
                        <tr>
                            <td class="sort"  id="plans-type">TYPE AND DATE</td>
                        </tr>
                        <tr class="sort-choice">
                            <td class="sort" id="plans-project">PROJECT</td>
                            <td class="sort"  id="plans-assigned-request">ASSIGNED REQUEST</td>
                            <td class="sort"  id="plans-coach-assigned">COACH ASSIGNED</td>
                            <td class="sort" id="status" >STATUS</td>
                            <td class="sort" ></td>
                        </tr>
                    </thead>
                    <tbody class="result">
                    <tr>
                        <td class="view-details" id="view-plans-type">No plans available</td>
                    </tr>
                    <tr class="sort-choice">
                        <td class="view-details view-plans">No project</td>
                        <td class="view-details view-plans">No assigned request</td>
                        <td class="view-details">No coach assigned</td>
                        <td class="view-details">No status available</td>
                        <td class="view-details"></td>
                    </tr>
                </tbody>
                </table>
            </div>    
        </div>
    </main>

{% endblock %}
