{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <main class="page-content">
        {% include "home/modals/_modal_available_templates.html.twig" %}
        <header class="header">
            <div class="header-title">
                <p>RESEARCH CENTER</p>
                <p>Research requests and plan management</p>

                
            </div>
            <a href="{{ path("research_template_index")}}"><button type="submit" class="view-session">View requests templates</button></a>
        </header>
        <div class="search-engine">
            <p>Find a request in the list</p>
            <div class="search-label">
                <p>Elements to display</p>
                <p>Project</p>
                <p>Owner</p>
                <p>Assigned coach</p>
                <p>Creation date</p>
            </div>
            <form method="post">
                <div class="checkbox">
                    <div>
                        <input type="checkbox" name="reasearch-plans" id="reasearch-plans">
                        <label for="reasearch-plans">reasearch-plans</label>
                    </div>
                    <div>
                        <input type="checkbox" name="reasearch-requests" id="reasearch-requests" checked>
                        <label for="reasearch-requests">reasearch-requests</label>
                    </div>
                </div>
                <select name="Project" id="Project">
                    <option value="">Select a project</option>
                </select>
                
                <select name="Owner" id="Owner">
                    <option value="">Select an owner</option>
                </select>

                <select name="Assigned-coach" id="Assigned-coach">
                    <option value="">Select an owner</option>
                </select>

                <input type="date" name="Creation-date" id="Creation-date">
            </form>
        </div>
        <div class="research-list">
            <div class="requests-list" id="requests-list">
                <div class="requests-header">
                    <div>
                        {% if researchRequests is empty %}
                            <p class="requests-quantity">No requests submitted by your team</p>
                        {% else %}
                            <p class="requests-quantity">{{ researchRequests|length }} requests submitted by your team</p>
                        {% endif %}
                        <p>You can view here all the research requests submitted</p>
                    </div>
                    <button id="create-request"><img src="{{ asset('build/images/icons/Path.png') }}"> Create a research request</button>
                </div>
                <table>
                    <thead class="sort-by">
                        <tr>
                            <td class="sort" id="requests-type">TYPE AND DATE</td>
                        </tr>
                        <tr class="sort-choice">
                            <td class="sort" id="requests-project">PROJECT</td>
                            <td class="sort" id="requests-coach-assigned">COACH ASSIGNED</td>
                            <td class="sort" id="requests-owner">OWNER</td>
                            <td class="sort" id="status">STATUS</td>
                            <td class="sort"></td>
                        </tr>
                    </thead>
                </table>
                <div class="table-scroll">
                    <table>
                        {% for researchRequest in researchRequests %}
                        {% if researchRequest.status is not same as 'Draft' %}
                            {% include "home/modals/_modal_interview_planning_request.html.twig" %}
                        {% endif %}
                            <tbody class="result">
                                <tr>
                                    <td class="view-details view-request-type" id="view-request-type">
                                        <img class="template-icon" src="{{ asset(researchRequest.researchTemplate.icon)}}">
                                        <div class="view-request-type-content">
                                        <p class="requestType">User interview</p>
                                        <p>{{ researchRequest.creationDate|format_datetime('short', 'none', locale='fr')}}</p>
                                        </div>

                                    </td>
                                </tr>

                                <tr class="sort-choice">
                                    <td class="view-details view-requests view-project">{{ researchRequest.project }}</td>
                                    <td class="view-details view-requests"><img class="coach-picture" src="{{ asset('build/images/icons/john-doe.png') }}">{{ researchRequest.researchTemplate.coach }}</td>
                                    <td class="view-details"><img class="owner-picture" src="https://i.pravatar.cc">{{ researchRequest.owner }}</td>
                                    <td class="view-details color-status">
                                        {% include "home/_research_request_status.html.twig" %}
                                    </td>
                                    <td class="view-details">                                      
                                        {% if 'Draft' in researchRequest.status %}
                                            <button class="edit-request-button" disabled="disabled">Edit</button>
                                        {% else %}
                                            <button id="{{ researchRequest.id }}" class="request-details-button">View</button>
                                        {% endif %}
                                    </td>
                                    <td class="icon-see-more">
                                        <img src="{{ asset('build/images/icons/ic_More.png')}}">
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                        {% if researchRequests is empty %}
                            <tbody class="result">
                                <tr>
                                    <td class="view-details view-request-type" id="view-request-type">No request available</td>
                                </tr>
                                <tr class="sort-choice">
                                    <td class="view-details view-requests">No project</td>
                                    <td class="view-details view-requests">No coach assigned</td>
                                    <td class="view-details">No owner assigned</td>
                                    <td class="view-details">No status available</td>
                                    <td class="view-details"></td>
                                </tr>
                            </tbody>
                        {% endif %}   
                    </table>
                </div>
            </div>
            <div class="plans-list-none" id="plans-list-none">
                <div class="plans-header">
                    <div>
                        {% if researchRequests is empty %}
                            <p class="plans-quantity">No plans available</p>
                        {% else %}
                            <p class="requests-quantity">{{ researchPlans|length }} plans available</p>
                        {% endif %}
                        <p>You can view here all the research plans created</p>
                    </div>
                    <button id="create-plans"><img src="{{ asset('build/images/icons/Path.png') }}"> Create a research plan</button>
                </div>
                <table>
                    <thead class="sort-by">
                        <tr>
                            <td class="sort"  id="plans-type">TYPE AND DATE</td>
                        </tr>
                        <tr class="sort-choice">
                            <td class="sort" id="plans-project">PROJECT</td>
                            <td class="sort"  id="plans-assigned-request">ASSIGNED REQUEST</td>
                            <td class="sort"  id="plans-coach-assigned">COACH ASSIGNED</td>
                            <td class="sort" id="plans-status">STATUS</td>
                            <td class="sort" ></td>
                        </tr>
                    </thead>
                </table>
                <div class="table-scroll" id="plan-table-scroll">
                    <table>
                        {% for researchPlan in researchPlans %}
                        {% for researchRequest in researchRequests %}
                        {% if researchPlan.researchRequest.status is not same as 'Draft' %}
                            {% include "home/modals/_modal_interview_planning_request.html.twig" %}
                        {% endif %}
                        {% endfor %}
                        {% include "home/modals/_modal_details_research_plan.html.twig" %}
                            <tbody class="result">
                                <tr>
                                    <td class="view-details view-request-type" id="view-request-type">
                                        <img class="template-icon" src="{{ asset('build/images/icons/tools.png')}}">
                                        <div class="view-request-type-content">
                                        <p class="requestType">Research plan</p>
                                        <p>{{ researchPlan.creationDate|format_datetime('short', 'none', locale='fr')}}</p>
                                        </div>

                                    </td>
                                </tr>
                                <tr class="sort-choice">
                                    <td class="view-details view-requests view-project">{{ researchPlan.researchRequest.project }}</td>
                                    <td class="view-details view-requests">
                                        <button type="button" id="{{ researchPlan.researchRequest.id }}" class="request-details-link">
                                            <img src="{{ asset('build/images/icons/blue eye.png') }}">
                                            View request
                                        </button>
                                    </td>
                                    <td class="view-details">
                                    <img class="coach-picture" src="{{ asset('build/images/icons/john-doe.png') }}">{{ researchPlan.researchRequest.researchTemplate.coach }}
                                    </td>
                                    <td class="view-details color-status">
                                        {% include "home/_research_plans_status.html.twig" %}
                                    </td> 
                                    <td class="view-details">                                     
                                        {% if 'Draft' in researchPlan.status %}
                                            <button class="edit-request-button" disabled="disabled">Edit</button>
                                        {% else %}
                                            <button id="{{ researchPlan.id }}" class="request-details-button research-plan-details-button">View</button>
                                        {% endif %}
                                    </td>
                                    <td class="icon-see-more">
                                        <img src="{{ asset('build/images/icons/ic_More.png')}}">
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}
                        {% if researchPlans is empty %}
                            <tbody class="result">
                                <tr>
                                    <td class="view-details" id="view-plans-type">No plans available</td>
                                </tr>
                                <tr class="sort-choice">
                                    <td class="view-details view-plans">No project</td>
                                    <td class="view-details view-plans">No assigned request</td>
                                    <td class="view-details">No coach assigned</td>
                                    <td class="view-details">No status available</td>
                                    <td class="view-details"></td>
                                </tr>
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>    
        </div>
        {% include "modals/_modal_select_request.html.twig" %}
    </main>

{% endblock %}
