<div class="new-research-request-modal" id="new-research-request-modal">
    <img class="new-research-request-modal-close" id="new-research-request-modal-close" src="{{ asset('build/images/icons/close-dark-blue.png') }}"/>
    <div class="new-research-request-modal-content">
        <div class="new-research-request-modal-content-header">
            <p class="new-research-request-modal-content-title">
                Add details for this request
            </p>
        </div>
        <form method ="POST" action="{{ path('research_request_add', {id: researchTemplate.id}) }}" class="new-research-request-modal-content-form">
            <input type="hidden" name="_token_add_research_request" value="{{ csrf_token('add_research_request') }}">
            <div class="new-research-request-modal-content-select">
                <input type="hidden" name="template_id" value="{{ researchTemplate.id }}">
                <input type="hidden" name="owner" value="Dominique Dupont">
                <input id="research-request-status" type="hidden" name="research-request-status" value="Waiting list">
                <label class="new-research-request-modal-select-label" for="research-request-project">
                    Select a project <span class="red-star">*</span>
                </label>
                <select name="project" id="research-request-project" class="new-research-request-modal-select" required>
                    <option value="">Select a project</option>
                    <option value="UX/UI Project">UX/UI Project</option>
                    <option value="Functionnality Project">Functionnality Project</option>
                    <option value="Other Project">Other Project</option>
                </select>
            </div>
            <button type="submit" class="new-research-request-modal-select-button" id="new-research-request-modal-select-button">
                <img class="new-research-request-modal-select-button-icon" src="{{ asset('build/images/icons/Path.png') }}"/>
                Create a research request
            </button>
        </form>
    </div>
</div>