<div class="actions-menu-container">

	<div class="action-container">
		<img class="edit-action-img" src="{{ asset('build/images/icons/edit.png') }}" alt="Icon for Edit details">
		<a href="{{ path("research_template_add", { id: 1 }) }}"><p>Edit details</p></a>
	</div>

	<div class="action-container">
		<img class="edit-action-img" src="{{ asset('build/images/icons/edit.png') }}" alt="Icon for Edit template">
		<a href="{{ path("research_template_add", { id: 1 }) }}"><p>Edit template</p></a>
	</div>

	<div class="action-container">
		<img class="view-action-img" src="{{ asset('build/images/icons/eye.png') }}" alt="Icon for View template">
		<a href="{{ path("research_template_add", { id: 1 }) }}"><p>View template</p></a>
	</div>

	<div class="action-container">
		<img class="viewall-action-img" src="{{ asset('build/images/icons/inbox.png') }}" alt="Icon for View all submission">
		<a href="{{ path("research_template_add", { id: 1 }) }}"><p>View all submissions</p></a>
	</div>

	<div class="action-container">
		<img class="delete-action-img" src="{{ asset('build/images/icons/delete.png') }}" alt="Icon for Delete template">
		<a href="{{ path("research_template_add", { id: 1 }) }}"><p class="delete-action-p">Delete template</p></a>
	</div>

</div>
