<div class="section-form-title">
    <input type="text" name="research-plan-title" placeholder="Add section title here" id="title-section-research-plan" class="title-section-research-plan">
    <a href="" id="button-basket"><img src="{{ asset('build/images/icons/trash-black.png') }}" alt="basket"></a>
</div>

<button type="button" id="assign-workshop" class="assign-workshop">
    <div class="assign-workshop-content">
        <img class="assign-workshop-content-image" src="{{ asset('build/images/icons/workshop.png') }}" alt="basket">
        <p class="assign-workshop-content-text">Assign a workshop for this phase</p>
    </div>
</button>

<div id="research-plan-workshop-selected-content" class="research-plan-workshop-selected-content">
    <input id="selected-workshop-name" type="hidden" name="workshop_name">
    <input id="selected-workshop-description" type="hidden" name="workshop_description">
    <img class="research-plan-workshop-select-edit-icon"
            id="research-plan-workshop-select-edit-icon"
            src="{{ asset('build/images/icons/edit.png') }}"/>
    <img class="research-plan-workshop-selected-image" src="{{ asset('build/images/icons/session-remote.gif')}}"/>
    <div class="research-plan-workshop-selected-text">
        <p class="research-plan-workshop-selected-title">
            Workshop selected : 
            <span class="research-plan-workshop-selected-name"></span>
        </p>
        <p class="research-plan-workshop-selected-description"></p>
        <textarea class="selected-workshop-description-edit"
                    id="selected-workshop-description-edit">
        </textarea>
    </div>
</div>

<button type="button" class="create-recommandation" id="text-editor-button">
    <img id="bubble-of-recommandation" src="{{ asset('build/images/icons/recommandation.png') }}" alt="bubble of recommandation">
    <p class="recommandation-note">Create a recommandation note</p>
</button>
{% include "research_plan/_create_recommandation.html.twig" %}

<div class="add-objectives" id="add-objectives">
    <p class="add-objectives-p" id="add-objectives-p">Would you like to add some objectives for this phase ? </p>
    
    <div class="add-objectives-p-and-save-display"  id="add-objectives-p-and-save">
        <p class="add-objectives-p" id="add-objectives"><img src="{{ asset('build/images/icons/targeting.png') }}" alt="icon of objectives">Objectives for this phase ? </p>
        <button type="button" id="edit-objectives-icon" class="edit-objectives-icon">
            <img src="{{ asset('build/images/icons/edit.png') }}" alt="edit icon">
        </button>
    </div>

    <div class="div-button-add-objectives" id="div-button-add-objectives">
        <button id="button-add-objectives" type="button" class="button-add-objectives-disabled" disabled="disabled"><img src="{{ asset('build/images/icons/save-icon.png') }}" alt="icon validate"> Add objectives</button>
    </div>

    <div class="save-objectives">
        <input type="text" id="input-objectives" name="objectives" placeholder="For the next phase we need to ..." class="input-objectives">
        <div class="input-example-checkbox">
            <input type="checkbox" name="objectives" placeholder="For the next phase we need to ..." class="input-checkbox-objectives" id="input-checkbox-objectives" disabled="disabled">
            <label for="objectives" id="input-checkbox-text-objectives" class="input-checkbox-text-objectives">Add a first item and press enter to fill in the checklist ...</label>
        </div>
        <div class="new-input-checkbox" id="new-input-checkbox">
            <input type="hidden" name="objectives-count" id="objectives-count" value="">
        </div>
        <button id="button-save-objectives" type="button" class="button-save-objectives"><img src="{{ asset('build/images/icons/save-icon.png') }}" alt="icon validate"> Save objectives</button>
    </div>
</div>