<div class="section-form-title">
    <h1>Add section title here</h1>
    <a href=""><img src="{{ asset('build/images/icons/basket.png') }}" alt="basket"></a>
</div>

<a href="#" class="assign-workshop">
    <img src="{{ asset('build/images/icons/workshop.png') }}" alt="basket">
    <p>Assign a workshop for this phase</p>
</a>

<div class="research-plan-workshop-selected-content">
    <input type="hidden" name="workshop_name">
    <input type="hidden" name="workshop_description">
    <img class="research-plan-workshop-select-edit-icon"
            src="{{ asset('build/images/icons/edit.png') }}"/>
    <img class="research-plan-workshop-selected-image" src="{{ asset('build/images/icons/session-remote.gif')}}"/>
    <div class="research-plan-workshop-selected-text">
        <p class="research-plan-workshop-selected-title">
            Workshop selected : 
            <span class="research-plan-workshop-selected-name">Explorative interview</span>
        </p>
        <p class="research-plan-workshop-selected-description">Cover almost all user-related topics, gather informations on users’ feelings, motivations and daily routines, or how they use products.</p>
    </div>
</div>

<a href="#" class="create-recommandation">
    <img src="{{ asset('build/images/icons/recommandation.png') }}" alt="bubble of recommendation">
    <p>Create a recommandation note</p>
</a>

<div class="add-objectives">
    <p>Would you like to add some objectives for this phase ? </p>
    <button type="button"><img src="{{ asset('build/images/icons/save-icon.png') }}" alt="icon validate"> Add objectives</button>
</div>