{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
	<div class="main-container">

		<aside class="sidebar">
			<img src="{{ asset('build/images/sidebar.png') }}">
		</aside>

		<div class="secondary-container">

			<section class="header-container">
				<p class="location-text">RESEARCH CENTER/ALL TEMPLATES</p>
				<h1 class="new-template-title">Create a new template</h1>
			</section>

			<div class="tird-container">
				<div class="fourth-container">

					<section class="frame-1123">
						<div class="status-container-1">
							<h2>Request template name</h2>
							<div>
								<img src="{{ asset('build/images/icons/green-dot.png') }}">
								<p>All changes saved</p>
							</div>
						</div>
						<div class="status-container-2">
							<p>Status of this request<span>*</span>
							</p>
							<div>
								<select id="select-status" class="status-list-select bg-green-dot" aria-label="Default select example">
									<option value="active">Active</option>
									<option value="draft">Draft</option>
									<option value="dropped">Dropped</option>
								</select>
							</div>
						</div>
					</section>

					<section class="components-available">
						<h2>Elements available for your request</h2>
						<p>Select here the elements your team could use.</p>
						<div class="components-list">

							<div class="component">
								<div class="component-picture-1">
									<img class="image" src="{{ asset('build/images/logo_component/section.png') }}" alt="logo section">
								</div>
								<div class="component-title">
									<h3>Section</h3>
									<p>Delimitate a part of your template.</p>
								</div>
								<div class="component-picture-2">
									<a href="#" id="buttonAction"><img src="{{ asset('build/images/icons/add_button.png') }}"></a>
								</div>
								
							</div>

							<div class="component">
								<div class="component-picture-1">
									<img class="image" src="{{ asset('build/images/logo_component/single_choice.png') }}" alt="logo single choice">
								</div>
								<div class="component-title">
									<h3>Single choice</h3>
									<p>Give a single option for your user.</p>
								</div>
								<div class="component-picture-2">
									<a href="#" id="buttonAction"><img src="{{ asset('build/images/icons/add_button.png') }}"></a>
								</div>
							</div>

							<div class="component">
								<div class="component-picture-1">
									<img class="image" src="{{ asset('build/images/logo_component/selector.png') }}" alt="logo selector">
								</div>
								<div class="component-title">
									<h3>Selector</h3>
									<p>Select an element from a list.</p>
								</div>
								<div class="component-picture-2">
									<a href="#" id="buttonAction"><img src="{{ asset('build/images/icons/add_button.png') }}"></a>
								</div>
							</div>

							<div class="component">
								<div class="component-picture-1">
									<img class="image" src="{{ asset('build/images/logo_component/date.png') }}" alt="logo date">
								</div>
								<div class="component-title">
									<h3>Date</h3>
									<p>Ask for a date to your user.</p>
								</div>
								<div class="component-picture-2">
									<a href="#" id="buttonAction"><img src="{{ asset('build/images/icons/add_button.png') }}"></a>
								</div>
							</div>

							<div class="component">
								<div class="component-picture-1">
									<img class="image" src="{{ asset('build/images/logo_component/separator.png') }}" alt="logo separator">
								</div>
								<div class="component-title">
									<h3>Separator</h3>
									<p>To add some space.</p>
								</div>
								<div class="component-picture-2">
									<a href="#" id="buttonAction"><img src="{{ asset('build/images/icons/add_button.png') }}"></a>
								</div>
							</div>

							<div class="component">
								<div class="component-picture-1">
									<img class="image" src="{{ asset('build/images/logo_component/multiple_choice.png') }}" alt="logo multiple choice">
								</div>
								<div class="component-title">
									<h3>Multiple choice</h3>
									<p>Give multiples choices to your user.</p>
								</div>
								<div class="component-picture-2">
									<a href="#modal" id="buttonAction"><img src="{{ asset('build/images/icons/add_button.png') }}"></a>
								</div>
							</div>
							<div id="modal" class="modal_multiple_choice">
								<div class="modal_content_multiple_choice">
									<h4>Create a multiple choice question</h4>
									<input type="text" id="input_question" name="form_answer" placeholder="What is your question ?">
									<p><span>Options available<span></p>
									<div id="form_answer">
										<input type="hidden" id="input_answer" class="form_answer" placeholder="Answer">
									</div>
										<button type="button" id="button_answer">+</button>
									<div>
										<input type="checkbox" class="input_mandatory" name="is_mandatory" checked>
										<label for="is_mandatory" class="input_mandatory">This field is mandatory</label>
									</div>
									<button type="submit" id="button_action_component" class="btn btn-primary">+ Add multiple choice question</button>
									<a href="#" class="modal_close">&times;</a>
								</div>
							</div>

							<div class="component">
								<div class="component-picture-1">
									<img class="image" src="{{ asset('build/images/logo_component/open_question.png') }}" alt="logo open question">
								</div>
								<div class="component-title">
									<h3>Open question</h3>
									<p>Get open answers from user.</p>
								</div>
								<div class="component-picture-2">
									<a href="#" id="buttonAction"><img src="{{ asset('build/images/icons/add_button.png') }}"></a>
								</div>
							</div>

							{# EVALUATION SCALE STARTS HERE - DON'T FORGET TO DELETE THIS COMMENT #}
							<div class="component">
								<div class="component-picture-1">
									<img class="image" src="{{ asset('build/images/logo_component/evaluation_scale.png') }}" alt="logo evaluation scale">
								</div>
								<div class="component-title">
									<h3>Evaluation scale</h3>
									<p>For an optimum overview. </p>
								</div>
								<div class="component-picture-2">
									<a href="#evaluation-scale" id="evaluation-scale-button"><img src="{{ asset('build/images/icons/add_button.png') }}"></a>
								</div>
							</div>
							{% include "modals/evaluation-scale/_new_evaluation_scale_details.html.twig" %}
							{# EVALUATION SCALE ENDS HERE - DON'T FORGET TO DELETE THIS COMMENT #}

							<div class="component">
								<div class="component-picture-1">
									<img class="image" src="{{ asset('build/images/logo_component/external_link.png') }}" alt="logo external link">
								</diV>
								<div class="component-title">
									<h3>External link</h3>
									<p>For an optimum overview. </p>
								</div>
								<div class="component-picture-2">
									<a href="#" id="buttonAction"><img src="{{ asset('build/images/icons/add_button.png') }}"></a>
								</div>
							</div>
						</div>
					</section>

				</div>

				<section class="form-builder">
					<div id="display_form_builder">
						{% for templateComponent in templateComponents %}
							{% include "modals/evaluation-scale/_evaluation_scale_template_creation.html.twig" %}
						{% endfor %}
					</div>
					{% if templateComponents is empty %}
						<img src="{{ asset('build/images/icons/emmpty_state_1.png') }}">
						<h2>No elements have been added to this request template.</h2>
						<p>Use the elements ont he left side to add some elements to this form.</p>
						<div class="need-help-container" onclick="window.open('https://www.google.fr/', '_blank');">
							<img src="{{ asset('build/images/icons/student_hat.png') }}">
							<p>Need help?</p>
						</div>
					{% endif %}
				</section>
			</div>
		</div>
	</div>

{% endblock %}
