{% if "open-question" in templateComponent.component.name %}
    {% if componentId is same as templateComponent.component.id %}
        <form method="POST" class="open-question-edit-form" draggable="false">
            {% include "edit-selected-component/_csrfToken_edit_component.html.twig" %}
            <div class="handle-template-component-draggable">
                <img src="{{ asset('build/images/icons/burger.png') }}"/>
            </div>
            <div class="edit-component-open-question">
                <div class="edit-open-question">
                    <input type="hidden" id="update-open-question-name" name="name" value="open-question">
                    <input class="form-control mb-1 edit-open-question-input" type="text" name="open_question-question" value="{{ templateComponent.component.question}}" required>
                </div>
                <div class="edit-open-question-answer">
                    {% for answer in templateComponent.component.answers %}
                        <input type="text" class="form-control mb-1 edit-answer-open-question-input" name="open-question-answer" value="{{answer.answer}}" required>
                    {% endfor %}
                </div>
                <div class="open-question-helpertext">
                    {% if  templateComponent.component.addAHelpertext is same as true  %}
                        <input type="checkbox" id="editAddAHelpertext" name="addHelpertext" checked>
                        <label for="addAHelpertext" class="helpertext">Add a helper text</label>
                        <input type="text" class="form-control mb-1 edit-answer-helpertext-input" id="checkbox-helper-text" name="helperText" value="{{templateComponent.component.helperText}}" required>
                    {% else %}
                        <input type="checkbox" id="editAddAHelpertext" name="addHelpertext">
                        <label for="addAHelpertext" class="helpertext">Add a helper text</label>
                        <input type="hidden" class="form-control mb-1 edit-answer-helpertext-input" id="checkbox-helper-text" name="helperText" value="" required>
                    {% endif %}
                </div>
                <div>
                    {% include 'edit-selected-component/_edit_is_mandatory.html.twig' %}
                </div>
            </div>
            <div class="section-actions">
			    <button class="update-button">Edit</button>
		    </div>
             <a href="{{ path('research_template_add', {id: researchTemplate.id}) }}" class="close-edit">&times;</a>
        </form>
    {% else %}
		{% include 'display-selected-component/_display_open_question.html.twig' %}
	{% endif %}
{% endif %}