{% if "single-choice" in templateComponent.component.name %}
    {% if componentId is same as templateComponent.component.id %}
        <form method="POST" class="single-choice-template-creation" draggable="false">
            <div class="handle-template-component-draggable">
                <img src="{{ asset('build/images/icons/burger.png') }}"/>
            </div>
            <div class="edit-component-single-choice">
                <div class="edit-component-single-choice-question">
                    <input type="hidden" id="update-single-choice-name" name="name" value="single-choice">
                    <input class="form-control edit-single-choice-input" type="text" name="question" value="{{ templateComponent.component.question}}">
                </div>
                <div class="input-answer-number">
                    {% set i = 0 %}
                    {% for answer in templateComponent.component.answers %}
                        {# <input type="text" value="{{answer.answer}}" name="answer{{ i }}"> #}
                    {# <input type="hidden" name="input-answer-number" id="input-answer-number">
                    <input type="text" value="{{answer.answer}}" name="answer{{ i }}" id="single-choice-name"> #}

                <div class="input-answer-update-number">
                    <input type="hidden" class="input-answer-update">
                    <input type="text" id="input-answer-update-number" name="answer{{ i }}" value="{{answer.answer}}">
                </div>
                       {% set i = i + 1 %}
                    {% endfor %}
                </div>
                <div>
                    <input type="checkbox" id="input-mandatory-update-external-link" name="is_mandatory">
                    <label for="is_mandatory" class="input_mandatory">This field is mandatory</label>
                </div>
            </div>
            <div class="section-actions">
			    <button class="update-button">Edit</button>
		    </div>
        </form>
    {% else %}
		{% include 'display-selected-component/_display_single_choice.html.twig' %}
	{% endif %}
{% endif %}
