{% if "single-choice" in templateComponent.component.name %}
    {% if componentId is same as templateComponent.component.id %}
        <form method="POST" class="single-choice-edit-form" draggable="false">
            <div class="handle-template-component-draggable">
                <img src="{{ asset('build/images/icons/burger.png') }}"/>
            </div>
            <div class="edit-component-single-choice">
                <div class="edit-component-single-choice-question">
                    <input type="hidden" id="update-single-choice-name" name="name" value="single-choice">
                    <input class="form-control mb-1 edit-single-choice-input" type="text" name="question" value="{{ templateComponent.component.question}}">
                </div>
                <div class="edit-single-choice-answer">
                    {% set i = 0 %}
                    {% for answer in templateComponent.component.answers %}
                        <input class="form-control mt-1 edit-answer-single-choice-input" type="text" name="answer-update-{{i}}" value="{{answer.answer}}">
                    {% set i = i + 1 %}
                    {% endfor %} 
                    <input type="hidden" name="input-answer-count" value="{{i}}">
                </div>
                <div>
                    <input type="checkbox" id="input-mandatory-single-choice" name="is_mandatory">
                    <label for="is_mandatory" class="input_mandatory">This field is mandatory</label>
                </div>
            </div>
            <div class="section-actions">
			    <button class="update-button">Edit</button>
		    </div>
        </form>
    {% else %}
		{% include 'display-selected-component/_display_single_choice.html.twig' %}
	{% endif %}
{% endif %}
