{% extends 'base.html.twig' %}

{% block title %}New research request{% endblock %}

{% block body %}
    <header id="add-research-request-header" class="add-research-request-header">
        <div class="add-research-request-header-logo-container">
            <img class="add-research-request-header-logo" src="{{ asset('build/images/usedge-logo.png') }}"/>
            <p class="add-research-request-header-title">New research request<p>
        </div>
        <button form="add-research-request-form" class="add-research-request-header-button" id="add-research-request-header-button">
            <img class="add-research-request-header-button-icon" src="{{ asset('build/images/icons/logout-dark.png') }}"/>
            <p class="add-research-request-header-button-text">Save and continue later</p>
        </button>
    </header>
    <main class="add-research-request-main-content">
        <form method="POST" action="{{ path('app_home') }}" id="add-research-request-form" class="add-research-request-form">
            <input type="hidden" name="template_id" value="{{ templateId }}">
            <input type="hidden" name="project" value="{{ project }}">
            <input type="hidden" name="owner" value="Jason Brand">
            <input id="research-request-status" type="hidden" name="research-request-status">
            <div class="add-research-request-form-builder">
            {% if requestComponents %}
                {% for requestComponent in requestComponents %}
                    {% include "research_request/components/section.html.twig" %}
                    {% include "research_request/components/single_choice.html.twig" %}
                    {% include "research_request/components/date_picker.html.twig" %}
                    {% include "research_request/components/separator.html.twig" %}
                    {% include "research_request/components/multiple_choice.html.twig" %}
                    {% include "research_request/components/evaluation_scale.html.twig" %}
                    {% include "research_request/components/external_link.html.twig" %}
                    {% include "research_request/components/open_question.html.twig" %}
                {% endfor %}
            {% endif %}
            </div>
            <button class="add-research-request-form-button" id="add-research-request-form-button">
                <img class="add-research-request-form-button-icon" src="{{ asset('build/images/icons/save-icon.png') }}"/>
                <p class="add-research-request-form-button-text">Send/Update this research request</p>
            </button>
        </form>
        <div class="research-request-confirm-modal" id="research-request-confirm-modal">
            <div class="research-request-confirm-modal-content">
                <div class="check_perspective_matte">
                    <img src="{{ asset('build/images/icons/Check_perspective_matte.png') }}" class="icons_check_perspective_matte" id="icons_check_perspective_matte">
                </div>
                <div class="research-request-confirm-modal-text">
                    <p class="research-request-confirm-modal-first-text">Your request has been sent successfully to the coach assigned</p>
                    <p class="research-request-confirm-modal-second-text">You should receive shortly a feedback concerning your research plan</p>
                </div>
                <button form="add-research-request-form" class="research-request-confirm-modal-button" type="submit"><img src="{{ asset('build/images/icons/return.png')}}">Back to dashboard</button>
            </div>
        </div>
    </main>
{% endblock %}
