{% if "section" in templateComponent.component.name %}
	<div class="section-title-display">
		<div class="handle-template-component-draggable">
			<img src="{{ asset('build/images/icons/burger.png') }}"/>
		</div>
		<div class="component-section-title">
            <input type="hidden" class="component-order-number" name="component-order-number">
            <input type="hidden" class="research-template-component-id" name="research-template-component-id" value="{{ templateComponent.component.id }}">
			<p>{{ templateComponent.component.title}}</p>
		</div>
		<div class="section-actions">
			<img src="{{ asset('build/images/icons/edit.png') }}"/>
			<img src="{{ asset('build/images/icons/close.png') }}"/>
		</div>
	</div>
{% endif %}