{% if "separator" in requestComponent.component.name %}
	<div class="request-separator-template-creation">
        <div class="request-separator-template-content">
            <input type="hidden" name="request-component-id-{{ requestComponent.component.id }}" value="{{ requestComponent.component.id }}">
            <input type="hidden" name="request-component-question-{{ requestComponent.component.id }}" value="{{ requestComponent.component.name }}">
            <input class="request-name-input" type="hidden" name="request-component-name-{{ requestComponent.component.id }}" value="{{ requestComponent.component.name }}">
            <input type="hidden" name="answer-{{ requestComponent.component.id }}" value="{{requestComponent.component.name}}">
        </div>
    </div>
{% endif %}